table { min-width: 100%; border-collapse: collapse;}
/* tr{ width: 100%;} */
td { border: 1px solid #d4d5d5; }
th { border: 1px solid #b7b8b8; background-color: #cccccc;}
.red {background-color:#f4cccc; border: 1px solid #d9b8b8;}
.green {background-color:#d9ead3; border: 1px solid #c2d1be;}
.yellow {background-color:#fff2cc; border: 1px solid #e2d8b8;}
/* td table { 
  margin: -2px;
  
} */